<div class="d-flex justify-content-center align-items-start align-items-md-center review-root">
    <div class="review-container">
        <div class="d-flex header">
            <div class="w-75 d-flex flex-column justify-content-start align-items-start details">
                <div>
                    <span class="merchant-name">Merchant Name here</span>
                </div>

                <div>
                    <span class="product-name">Product Name</span>
                </div>

                <div class="d-flex flex-row rating1">
                    <star-rating [starType]="'icon'" [rating]="2.63"></star-rating>
                </div>
            </div>

            <div class="w-25 d-flex justify-content-end align-items-center">
                <img src="assets/svg/review-header.svg" alt="review header svg">
            </div>
        </div>

        <div class="form">
            <form>
                form 
            </form>
        </div>
    </div>
</div>
