@use '../../../assets/sass/variables';

.redirect-root {
    height: 100vh;
    font-family: variables.$primary-font, sans-serif;
    
    .galleryImg {
      width: 50%;
      animation: zoominoutsinglefeatured 1.2s infinite;
    }

    p.text1 {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
    }

    p.text2 {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
    }
}

@keyframes myfirst {
  0% {
    top: 0px;
  }

  100% {
    top: -20px;
  }
}

@keyframes zoominoutsinglefeatured {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}



