// import variables
@use '../../../assets/sass/variables';

.unauth-root {
    height: 100vh;
    font-family: variables.$primary-font, sans-serif;
    
    .style401 {
      width: 50%;
      padding-bottom: 5%;
    }
    
    .unauthStyle {
      width: 50%;
    }
    
    .text2 {
      padding-top: 5%;
      font-size: 1.5rem;
      font-weight: 500;
      color: rgba(24, 24, 24, 0.932);
    }
}

